span.stage1 {
  color: var(--color-purple-3);
}
span.stage2 {
  color: var(--color-hot-pink);
}
span.stage3 {
  color: var(--color-teal);
}
span.stage4 {
  color: var(--color-green);
}
span.stage5 {
  color: var(--color-shadowy-gold);
}
span.stage6 {
  color: var(--color-magic-gold);
}

span.stagewaiting {
  -webkit-text-fill-color: var(--shadow-primary);
  -webkit-text-stroke-width: calc(var(--editor-font-size) * 0.0375);
  -webkit-text-stroke-color: var(--text-normal);
}
span.stagewaiting.stage1 {
  -webkit-text-stroke-color: var(--color-purple-3);
}
span.stagewaiting.stage2 {
  -webkit-text-stroke-color: var(--color-hot-pink);
}
span.stagewaiting.stage3 {
  -webkit-text-stroke-color: var(--color-teal);
}
span.stagewaiting.stage4 {
  -webkit-text-stroke-color: var(--color-green);
}
span.stagewaiting.stage5 {
  -webkit-text-stroke-color: var(--color-shadowy-gold);
}
